nav {
  background-color: cadetblue;
  padding: 1rem 2rem;
  box-shadow: 0px 0px 10px 1px orange;
}

nav ul{
  list-style: none;
  display: flex;
  gap: 2rem;
}

nav li{
  display: inline-block;
}

nav a{
  color: wheat;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.3s ease;
}

nav a:hover{
  border: 2px solid red;
  color: black;
  background-color: yellowgreen;
  transform: translateY(-2px);
}

.lista-productos{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.lista-productos li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.lista-productos img{
  width: 40%;
}

.detalle{
  text-align: left;
  margin: 30px;
}